<!DOCTYPE html>
<html>
  <head>
    <title>Here is your Mad Lib!</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset='utf-8'>
  </head>
  <div class="container">
    <body>
      <h1>Here is your Mad Lib!</h1>
      <hr>
      <p class="story">The @Model.Noun @Model.Adverb moved the @Model.Adjective @Model.SecondNoun up the @Model.ThirdNoun. "@Model.Exclamation" they said as they @Model.SecondAdverb picked up their @Model.FourthNoun off the floor.</p>
    </body>
  </div>
</html>